<!DOCTYPE html>
<html lang="fr" data-theme="tutomarks">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}
            {{ encore_entry_link_tags('styles') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body class="relative">
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <toast-component data-message="{{ message|capitalize }}" data-label="{{ label }}"></toast-component>
            {% endfor %}
        {% endfor %}

        <toast-component data-message="YES ca marche !"></toast-component>
        <div class="drawer">
            <input id="my-drawer" type="checkbox" class="drawer-toggle" />

            <div class="drawer-content">
                {% include 'components/_header.html.twig' %}

                {% block body %}{% endblock %}

                {% include 'components/_footer.html.twig' %}
            </div>

            <div class="drawer-side">
                <label for="my-drawer" class="drawer-overlay"></label>
                {% include 'components/_sidebar.html.twig' %}
            </div>
        </div>
    </body>
</html>
