<!DOCTYPE html>
<html lang="fr" data-theme="tutomarks">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}
            {{ encore_entry_link_tags('styles') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body class="relative">
        <div class="drawer">
            <input id="my-drawer" type="checkbox" class="drawer-toggle" />

            <div class="drawer-content">
                {% include 'components/_header.html.twig' %}

                {% block body %}{% endblock %}

                {% include 'components/_footer.html.twig' %}
            </div>

            <div class="drawer-side">
                <label for="my-drawer" class="drawer-overlay"></label>
                <ul class="menu p-4 w-80 h-screen pt-32 bg-base-200 text-base-content">
                  <!-- Sidebar content here -->
                  <li><a>Sidebar Item 1</a></li>
                  <li><a>Sidebar Item 2</a></li>

                </ul>
            </div>
        </div>
    </body>
</html>
