<footer class="footer p-10 bg-base-100 mt-20 border-t-2 border-t-zinc-300 shadow xl:px-30 lg:px-24">
    <div>
        <span class="footer-title">Sections</span>
        <a href="#" target="_blank" class="hover:text-tutomarkspurple">Vidéos</a>
        <a href="#" target="_blank" class="hover:text-tutomarkspurple">Créateurs</a>
        <a href="#" target="_blank" class="hover:text-tutomarkspurple">Ressources</a>
        <a href="#" target="_blank" class="hover:text-tutomarkspurple">Formations</a>
        <a href="#" target="_blank" class="hover:text-tutomarkspurple">Evenements</a>
    </div>

    <div>
        <span class="footer-title">A propos</span>
        <a href="#" target="_blank" class="hover:text-tutomarkspurple">Contact</a>
        <a href="#" target="_blank" class="hover:text-tutomarkspurple">Qui suis-je</a>
        <a href="#" target="_blank" class="hover:text-tutomarkspurple">Politique de confidentialité</a>

        <div class="mt-5">
            <a href="#" target="_blank" class="mr-2 hover:text-tutomarkspurple">
                <i class="fa-brands fa-twitter fa-2x"></i>
            </a>
            <a href="#" target="_blank" class="mr-2 hover:text-tutomarkspurple">
                <i class="fa-brands fa-github fa-2x"></i>
            </a>
            <a href="#" target="_blank" class="mr-2 hover:text-tutomarkspurple">
                <i class="fa-brands fa-twitch fa-2x"></i>
            </a>
        </div>
    </div>

    <div>
        <span class="footer-title">Affiliation</span>
        <div class="grid grid-flow-col gap-4">
            <a href="https://www.buymeacoffee.com/tutomarks" target="_blank" class="hover:text-tutomarkspurple">
                <i class="fa-solid fa-coffee mr-2"></i>Buy me a coffee
            </a>
        </div>
    </div>
    <div>
        <span class="footer-title">Hébergement</span>
        <div class="grid grid-flow-col gap-4">
            <a href="https://hidora.io/" target="_blank">
                <img src="{{ asset('/build/images/hidora.png') }}" alt="Hidora" />
            </a>
        </div>
    </div>
</footer>
<footer class="footer place-items-center w-full py-4 bg-base-100">
    <p>Copyright © 2020 - 2023 - Tutomarks</p>
</footer>