<footer class="footer p-10 bg-base-100 border-t-2 border-t-zinc-300 shadow xl:px-30 lg:px-24">
    <div>
        <span class="footer-title">Sections</span>
        <span class="bg-transparent hover:bg-secondary hover:text-white text-neutral-500 transform p-1 -skew-y-6 inline-flex">
            <a class="transform skew-y-6 mx-3" href="#">Vidéos</a>
        </span>
        <span class="bg-transparent hover:bg-secondary hover:text-white text-neutral-500 transform p-1 -skew-y-6 inline-flex">
            <a class="transform skew-y-6 mx-3" href="#">Créateurs</a>
        </span>
        <span class="bg-transparent hover:bg-secondary hover:text-white text-neutral-500 transform p-1 -skew-y-6 inline-flex">
            <a class="transform skew-y-6 mx-3" href="#">Ressources</a>
        </span>
        <span class="bg-transparent hover:bg-secondary hover:text-white text-neutral-500 transform p-1 -skew-y-6 inline-flex">
            <a class="transform skew-y-6 mx-3" href="#">Formations</a>
        </span>
        <span class="bg-transparent hover:bg-secondary hover:text-white text-neutral-500 transform p-1 -skew-y-6 inline-flex">
            <a class="transform skew-y-6 mx-3" href="#">Evenements</a>
        </span>
    </div>

    <div>
        <span class="footer-title">A propos</span>
        <span class="bg-transparent hover:bg-secondary hover:text-white text-neutral-500 transform p-1 -skew-y-6 inline-flex">
            <a class="transform skew-y-6 mx-3" href="#">Contact</a>
        </span>
        <span class="bg-transparent hover:bg-secondary hover:text-white text-neutral-500 transform p-1 -skew-y-6 inline-flex">
            <a class="transform skew-y-6 mx-3" href="#">Qui suis-je</a>
        </span>
        <span class="bg-transparent hover:bg-secondary hover:text-white text-neutral-500 transform p-1 -skew-y-6 inline-flex">
            <a class="transform skew-y-6 mx-3" href="#">Politique de confidentialité</a>
        </span>

        <div class="mt-5">
            <a href="#" target="_blank" class="mr-4 hover:text-secondary">
                <i class="fa-brands fa-twitter fa-2x"></i>
            </a>
            <a href="#" target="_blank" class="mr-4 hover:text-secondary">
                <i class="fa-brands fa-github fa-2x"></i>
            </a>
            <a href="#" target="_blank" class="hover:text-secondary">
                <i class="fa-brands fa-twitch fa-2x"></i>
            </a>
        </div>
    </div>

    <div>
        <span class="footer-title">Affiliation</span>
        <div class="grid grid-flow-col gap-4">
            <span class="bg-transparent hover:bg-secondary hover:text-white text-neutral-500 transform p-1 -skew-y-6 inline-flex">
                <a class="transform skew-y-6 mx-3" href="https://www.buymeacoffee.com/tutomarks" target="_blank">
                    <i class="fa-solid fa-coffee mr-2"></i>Buy me a coffee
                </a>
            </span>
        </div>
    </div>
    <div>
        <span class="footer-title">Hébergement</span>
        <div class="grid grid-flow-col gap-4">
            <a href="https://hidora.io/" target="_blank">
                <img src="{{ asset('/build/images/hidora.png') }}" alt="Hidora" />
            </a>
        </div>
    </div>
</footer>
<footer class="footer place-items-center w-full py-4 bg-base-100">
    <p>Copyright © 2020 - 2023 - Tutomarks</p>
</footer>