<div class="navbar bg-base-100 shadow-lg fixed top-0 left-0 right-0 z-[1030]">
    <div class="navbar-start w-1/2">
        <a href="{{ path('app_home') }}" class="h-[75px] flex flex-rox items-center">
            <img src="{{ asset('build/images/Logo.png') }}"
                 alt="TutoMarks"
                 class="h-[75px] mr-1"
                 loading="lazy"
            >
            <span class="hidden md:block">
                <span class="text-2xl"><span class="text-secondary">TUTO</span><span class="text-primary">MARKS</span></span>
            </span>
        </a>
    </div>

    <div class="navbar-end w-1/2">
        <button class="btn btn-sm btn-ghost mr-2" id="js-theme-switcher">
            <i class="fa-solid fa-circle-half-stroke"></i>
        </button>

        <div class="dropdown dropdown-end">
            {% if app.user %}
                <label tabindex="0" class="btn btn-ghost btn-circle avatar">
                    <div class="w-10 rounded-full">
                        <img src="https://picsum.photos/id/237/200/300" />
                    </div>
                </label>
                <ul tabindex="0" class="mt-3 z-[1] p-2 shadow menu menu-sm dropdown-content bg-base-100 rounded-box w-52">
                    <li>
                        <a class="justify-between">
                            Profile
                            <span class="badge">New</span>
                        </a>
                    </li>
                    <li><a>Settings</a></li>
                    <li><a>Logout</a></li>
                </ul>
            {% else %}
            <div class="dropdown dropdown-end">
                <button class="mr-3 px-2 py-1 text-sm rounded-full border bg-secondary hover:bg-[#FFFFFF] border-transparent hover:border-secondary hover:text-secondary text-white"
                        type="button"
                >
                    <i class="fa-solid fa-user mr-2"></i>Connexion
                </button>
                <div tabindex="0" class="mt-3 z-[1] p-2 shadow menu menu-sm dropdown-content bg-base-100 rounded-box w-52">
                    <form>
                        <div class="mb-2">
                            <label for="fLogin" class="label">Adresse e-mail</label>
                            <input type="text"
                                   id="fLogin"
                                   class="input-sm input input-bordered w-full"
                                   name="username"
                            />
                        </div>

                        <div class="mb-2">
                            <label for="fPassword" class="label">Mot de passe</label>
                            <input type="password" id="fPassword" class="input-sm input input-bordered w-full" name="passwd" />
                        </div>

                        <div class="mb-2 text-end">
                            <span class="bg-transparent hover:bg-secondary hover:text-white text-neutral-400 transform p-1 -skew-y-6 inline-flex"><a class="transform skew-y-6 mx-3" href="{{ path('app_password') }}">Mot de passe oublié ?</a></span>
                        </div>

                        <button type="submit"
                                class="btn btn-sm btn-success text-white hover:bg-teal-500 w-full text-center mb-2">Connexion</button>
                    </form>

                    <div class="divider"></div>

                    <div class="w-full text-center">
                        Nouveau ? <span class="bg-transparent hover:bg-secondary hover:text-white text-neutral-400 transform p-1 -skew-y-6 inline-flex"><a class="transform skew-y-6 mx-3" href="{{ path('app_register') }}">S'inscrire</a></span>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>